.action-icon-button{
    padding-left: .85em;
}
.action-icon-button .mat-icon{
    font-size: 1.44em;
}

.long-description-textarea{
    min-height: 300px;
}


.list-form-field{
    font-size: .9em;
}

.new-course-area-chip{
    cursor: pointer;
}